<main>
    <h1>Browser</h1>
    <form action="" method="">
        <input type="text" class="search" name="mark" placeholder="Mark..." value="{{mark}}">
        <input type="text" name="model" class="difficulty" placeholder="Model..." value="{{model}}">
        <span>-</span>
        <input type="text" name="gen" class="difficulty" placeholder="Gen..." value="{{gen}}">
        <input type="submit" value="search">
    </form>

    {{#each cars}}
        {{> car}}
    {{/each}}
</main>